<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      I implemented a personal blog website that a user can create his own posts there using a clean and simple
      interface.
    </p>
    <p>
      In order for me to make users able to create posts, I integrated my code with a platform called strapi which is a
      content management system
    </p>
    <p>
      Strapi allows users to make posts using an editor like microsoft word. Then my application would take those posts
      and display them on the website.
    </p>

    <p><b>Technologies used: </b></p>
    <ul>
      <li>Next.js</li>
      <li>Strapi CMS</li>
      <li>Emotion (Styled components)</li>
      <li>Infinite scroll</li>
    </ul>
  </body>
</html>
