@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Titillium Web", sans-serif;
}

:root {
  --color-primary: #232834;
  --color-secondary: #dbe8d4;
  --color-secondary-dark: #73cca8;
  --nav-bg: #525e65;
  --color-primary-light: #2e3445;
  --color-white: #fff;
}

body {
  background: var(--color-primary);
}
